body{
  margin: 0;
  height: 100vh;
}
body *{
  margin: 1px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr  ;
  grid-template-areas: 
      "one          two"
      "three        four"
     ;
  height: 80vh;
  margin: 4px;
}

.one{
  grid-area: one ;
  background-color: burlywood;
}

.two{
  grid-area: two ;
  background-color: coral;
}

.three{
  grid-area: three;
  background-color: darkseagreen;
}

.four{
  grid-area: four;
  background-color: violet;
}

